@import "tailwindcss";

:root {
	--bgColor: #233931;
	--text: #8fdbc2;
	--border: #4f9f84;
}

/* global.css or component CSS */
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.35),
		rgba(255, 255, 255, 0.15)
	);
	backdrop-filter: blur(14px) saturate(160%);
	/* -webkit-backdrop-filter: blur(14px) saturate(160%); */
	border: 1px solid rgba(255, 255, 255, 0.4);
	box-shadow:
		0 8px 32px rgba(0, 0, 0, 0.12),
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	/* border-radius: 16px; */
}

/* Define the animation */
@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Apply gradient and animation */
.dynamic-gradient {
	background: linear-gradient(
		135deg,
		#d2f1cd,
		#fbd1f4,
		#fbe6b8,
		#97bba6,
		#2ed8c2
	);
	background-size: 500% 500%; /* make gradient large so it can move */
	animation: gradientShift 10s ease infinite; /* slow smooth animation */
}
.dark-dynamic-gradient {
	background: linear-gradient(
		135deg,
		#375e52,
		/* #973850, */ #164b54,
		#28a4a6,
		#a87922
	);
	background-size: 200% 200%; /* make gradient large so it can move */
	animation: gradientShift 10s ease infinite; /* slow smooth animation */
}

/* hidding the scrollbar of skills animations  */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

/* FONTS */

@font-face {
	font-family: ClashDisplay;
	src: url("/src/assets/fonts/ClashDisplay-Variable.ttf");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@theme{
	--font-clashDisplay : ClashDisplay
}