@import "tailwindcss";

:root {
	--bgColor: #182620;
	--text: #8fdbc2;
	--border: #4f9f84;
	--highlight: #008275;
}

/* global.css or component CSS */
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.35),
		rgba(255, 255, 255, 0.15)
	);
	backdrop-filter: blur(14px) saturate(160%);
	/* -webkit-backdrop-filter: blur(14px) saturate(160%); */
	border: 1px solid rgba(255, 255, 255, 0.4);
	box-shadow:
		0 8px 32px rgba(0, 0, 0, 0.12),
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	/* border-radius: 16px; */
}

/* Define the animation */
@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Apply gradient and animation */
.dynamic-gradient {
	background: linear-gradient(
		135deg,
		#d2f1cd,
		#fbd1f4,
		#fbe6b8,
		#97bba6,
		#2ed8c2
	);
	background-size: 500% 500%; /* make gradient large so it can move */
	animation: gradientShift 10s ease infinite; /* slow smooth animation */
}
.dark-dynamic-gradient {
	background: linear-gradient(
		135deg,
		#375e52,
		/* #973850, */ #164b54,
		#28a4a6,
		#a87922
	);
	background-size: 200% 200%; /* make gradient large so it can move */
	animation: gradientShift 10s ease infinite; /* slow smooth animation */
}

/* for selcction text */
::selection {
  background: var(--text);
  color: var(--bgColor);
}

::-moz-selection {
  background: var(--text);
  color: var(--bgColor);
}

/* hidding the scrollbar of skills animations  */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

/* FONTS */

@font-face {
	font-family: ClashDisplay;
	src: url("/src/assets/fonts/ClashDisplay-Variable.ttf");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Sora-Variable;
	src: url("/src/assets/fonts/Sora-Variable.ttf");
	font-weight: 100 800;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Sora-VariableItalic;
	src: url("/src/assets/fonts/Sora-VariableItalic.ttf") format("truetype");
	font-weight: 100 800;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: Boska-Variable;
	src: url("/src/assets/fonts/Boska-Variable.ttf");
	font-weight: 200 900;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Boska-VariableItalic;
	src: url("/src/assets/fonts/Boska-VariableItalic.ttf") format("truetype");
	font-weight: 200 900;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: Erode-Variable;
	src: url("/src/assets/fonts/Erode-Variable.ttf");
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Erode-VariableItalic;
	src: url("/src/assets/fonts/Erode-VariableItalic.ttf") format("truetype");
	font-weight: 300 700;
	font-display: swap;
	font-style: italic;
}

@theme {
	--font-clashDisplay: ClashDisplay;
	--font-sora: Sora-Variable;
	--font-sora-Italic: Sora-VariableItalic;
	--font-boska: Boska-Variable;
	--font-boska-Italic: Boska-VariableItalic;
	--font-erode: Erode-Variable;
	--font-erode-Italic: Erode-VariableItalic;
}
